@using HotelDelLuna.ViewModel.Models.Accounts
@using HotelDelLuna.ViewModel.Helpers

@model MyProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}

<a class="btn-sm btn btn-primary update-button" data-toggle="modal" data-target="#exampleModalCenter" asp-controller="Account" asp-action="UpdateMyProfile" asp-route-UserId="@Model.UserId">Edit</a>


<table class="table table-borderless">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Username</td>
            <td>@ParsingView.StringView(@Model.Username)</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>@ParsingView.StringView(@Model.FirstName)</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@ParsingView.StringView(@Model.LastName)</td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td>@ParsingView.FormatDate(@Model.BirthDate)</td>
        </tr>
        <tr>
            <td>Birth City</td>
            <td>@ParsingView.StringView(@Model.BirthCity)</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@ParsingView.StringView(@Model.Gender)</td>
        </tr>
        <tr>
            <td>ID Card Number</td>
            <td>@ParsingView.StringView(@Model.IdNumber)</td>
        </tr>
        <tr>
            <td>Status Account</td>
            <td>@ParsingView.FormatStatus(@Model.Status)</td>
        </tr>
    </tbody>
</table>