@using HotelDelLuna.ViewModel.Models.Rooms
@using HotelDelLuna.ViewModel.Helpers

@model IEnumerable<RoomViewModel>
@{
    ViewData["Title"] = "Room";
    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

    var role = (ViewBag.Role == null) ? "Anonymous" : ViewBag.Role;
}



<div class="d-flex align-items-center">
    <h2 class="mr-5">Room</h2>
    <!-- Button trigger modal -->
    <a type="button" class="insert-button btn-sm btn-primary" data-toggle="modal" data-target="#exampleModalCenter" asp-controller="Room" asp-action="Insert">
        Insert
    </a>
    @*<div>
            <a class="btn-sm btn btn-primary insert-button" asp-controller="Room" asp-action="Insert">Insert</a>
        </div>*@
</div>

@section modelDialog{
    <partial name="_UpsertDialog" />
}

<table class="table table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>Room Number</th>
            <th>Floor</th>
            <th>Type</th>
            <th>Price</th>
            <th colspan="6"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoomNumber</td>
                <td>@item.Floor</td>
                <td>@ParsingView.FormatTypeRoom(item.Type)</td>
                <td>@ParsingView.FormatRupiah(@item.Price)</td>
                <td>
                    @if (role == "Administrator")
                    {
                        <a class="btn-sm btn btn-primary update-button" data-toggle="modal" data-target="#exampleModalCenter" asp-controller="Room" asp-action="Update" asp-route-roomNumber="@item.RoomNumber">Edit</a>
                    }
                    else
                    {
                        <a class="btn-sm btn btn-primary update-button" data-toggle="modal" data-target="#exampleModalCenter" asp-controller="Room" asp-action="Book" asp-route-roomNumber="@item.RoomNumber">Book</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="~/Views/Shared/_pager.cshtml" model="@pager" />